name: 'build-test'
on:
  issues:
    types: [opened, edited]
  issue_comment:
    types: [created, edited]
  discussion: 
    types: [created, edited]
  discussion_comment:
    types: [created, edited]
  pull_request:
    types: [opened, edited]
  # pull_request_comment:

  # pull_request_review:
  #   types: [submitted, edited]
  # pull_request_review_comment:
  #   types: [created, edited]


jobs:
  test: # make sure the action works on a clean machine without building
    permissions:
      issues: write
      discussions: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          IS_MODIFY_TITLE: true
          APPEND_TRANSLATION: true